.product:hover {
    transition: 0.5s;
    transform: scale(1.02);
}

.product-link {
    color: #000 !important;
    text-decoration: none
}
h1 {
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
b {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
